NODE_ENV=development
PORT=4000

# Base de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=habit_diary
DB_USER=habit_user
DB_PASSWORD=habit_pass_2024

# JWT
JWT_SECRET=super_secret_jwt_key_habit_diary_2024
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:5173
